*.o
*.d
.*.swp
*.deps
*.dirstamp
.DS_Store
Makefile
autom4te.cache
config.h
config.status
config.cache
config.log
bin/nagi
bin/x86
bin/x64

# visual studio cmake support defaults to out/
.vs
out
CMakeSettings.json

build
games

# Python
__pycache__/
*.py[cod]
*$py.class
*.pyc
.Python
cloud_config.ini
